

table.jCalendar {	
	background: #fff;
    border-spacing: 0px;
}
table.jCalendar th {
	background: #fff;
	color: #989898;
	font-weight: normal;
	padding: 10px 10px;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 11px;
}

table.jCalendar td {
	background: #fff;
	color: #5b5d5d;
	padding: 10px 10px;
	text-align: center;
	font-weight: bold;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 12px;
	border-right: 1px solid #dbdbdb;
	border-top: 1px solid #dbdbdb;
}
table.jCalendar td.other-month {
	background: #fff;
	color: #dbdbdb;
}
table.jCalendar td.today {
	background: #00b0ff;
	color: #fff;
}
table.jCalendar td.selected {
	background: #00b0ff;
	color: #fff;
}
table.jCalendar td.selected.dp-hover {
	background: #f33;
	color: #fff;
}
table.jCalendar td.dp-hover,
table.jCalendar tr.activeWeekHover td {
	background: #00b0ff;
	color: #fff;
}
table.jCalendar tr.selectedWeek td {
	background: #00b0ff;
	color: #fff;
}
table.jCalendar td.disabled, table.jCalendar td.disabled.dp-hover {
	background: #fff;
	color: #dbdbdb;
}
table.jCalendar td.unselectable,
table.jCalendar td.unselectable:hover,
table.jCalendar td.unselectable.dp-hover {
	background: #fff;
	color: #dbdbdb;
}

/* For the popup */

/* NOTE - you will probably want to style a.dp-choose-date - see how I did it in demo.css */

div.dp-popup {
	position: relative;
	background: #fff;
	font-size: 10px;
	font-family: arial, sans-serif;
	padding: 2px;
	width: 242px;
	line-height: 1.2em;
	border: 1px solid #d4d4d4;
	padding-top: 15px;
}
div#dp-popup {
	position: absolute;
	z-index: 19999999;
}
div.dp-popup h2 {
	font-size: 12px;
	text-align: center;
	margin: 2px 0;
	padding: 0;
	font-weight: bold;
	font-family: Helvetica, Arial, sans-serif;
	padding-bottom: 15px;
}
a#dp-close {
	font-size: 11px;
	padding: 4px 0;
	text-align: center;
	display: block;
}
a#dp-close:hover {
	text-decoration: underline;
}
div.dp-popup a {
	color: #000;
	text-decoration: none;
	padding: 3px 2px 0;
}
div.dp-popup div.dp-nav-prev {
	position: absolute;
	top: 13px;
	left: 4px;
	width: 100px;
}
div.dp-popup div.dp-nav-prev a {
	float: left;
}
/* Opera needs the rules to be this specific otherwise it doesn't change the cursor back to pointer after you have disabled and re-enabled a link */
div.dp-popup div.dp-nav-prev a, div.dp-popup div.dp-nav-next a {
	cursor: pointer;
}
div.dp-popup div.dp-nav-prev a.disabled, div.dp-popup div.dp-nav-next a.disabled {
	cursor: default;
}
div.dp-popup div.dp-nav-next {
	position: absolute;
	top: 12px;
	right: 4px;
	width: 100px;
}
div.dp-popup div.dp-nav-next a {
	float: right;
}
div.dp-popup a.disabled {
	cursor: default;
	color: #aaa;
	opacity: 0.5;
}
div.dp-popup td {
	cursor: pointer;
}
div.dp-popup td.disabled {
	cursor: default;
}
.dp-nav-prev-month{
	display:block;

	height: 19px;
	width: 10px;
	font-size: 11px;
	text-indent:0px;
	float: left;
	margin-left: 10px;
}
.dp-nav-next-month{
	display:block;
	
	height: 19px;
	width: 19px;
	font-size: 11px;
	text-indent: 0px;
	float: left;
	margin-right: 5px;
}