@charset "utf-8";
/* CSS Document */

.font18pxne{
	font-size:18px;
	padding-bottom:5px;
	font-weight:bold;
	
}

.font26pxone{
	font-size:26px;
	font-weight:900;
}

.pdbyan{
	padding-bottom: 10px;
}
.clr3f8{
	color:#3f84c2;
	  margin-top: 5px;
  font-size: 16px;
}

.pdlstp10{
	padding-top:15px;
	padding-bottom:15px;
}

.asclr{
	  color: #777;
  font-size: 16px;
}
.dftbtmon{
	  background: #ccc !important;
  color: white;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 5px;
}

.clddr3f8{
	color:#3f84c2;
	  margin-top: 5px;
  
}
.fordropdownon{
	  width: 100%;
  height: 35px;
  border-radius: 5px;
}


